<li>
    <a href="#"><i class="fa fa-calculator  fa-fw"></i> Estimations<i class="fa arrow"></i></a>
    <ul class="nav nav-second-level">
        <li>
            <a href="#" navigation-app="estimation-add">Add Estimations</a>
        </li>
        <li>
            <a href="#" navigation-app="estimation-view">View Estimations</a>
        </li>
    </ul>
    <!-- /.nav-second-level -->
</li>