<li>
    <a href="#"><i class="fa fa-money  fa-fw"></i> Expenses<i class="fa arrow"></i></a>
    <ul class="nav nav-second-level">
        <li>
            <a href="#" navigation-app="expense-add">Add Expenses</a>
        </li>
        <li>
            <a href="#" navigation-app="expense-view">View Expenses</a>
        </li>
    </ul>
    <!-- /.nav-second-level -->
</li>