<li>
    <a href="#"><i class="fa fa-dropbox fa-fw"></i> Inventory<i class="fa arrow"></i></a>
     <ul class="nav nav-second-level">
        <li>
            <a href="#" navigation-app="inventory-view">View Items</a>
        </li>
        <li>
            <a href="#" navigation-app="inventory-add">Add Items</a>
        </li>
    </ul>
    <!-- /.nav-second-level -->
</li>