<li>
    <a href="#"><i class="fa fa-file-text-o fa-fw"></i> Summary<i class="fa arrow"></i></a>
    <ul class="nav nav-second-level">
        <li>
            <a href="#" navigation-app="summary-view">View Summary</a>
        </li>
    </ul>
    <!-- /.nav-second-level -->
</li>